
/* Common */

h1 {
  font-size: 36pt;
  text-align: left;
}

body {
  background-color: black;
  color: white; 
}

/* For Chapters and Subjects */

div#container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;
}

/* For Slides */

p.slideText {
  margin-right: 500px;
  margin-left: 500px;
  text-align: left;
}

/* For node in Slides */

ul.nodeList {
  margin-right: 80px;
  margin-left: 80px;
  text-align: left;
}

p.nodeText {
  margin-right: 80px;
  margin-left: 80px;
  text-align: left;
}

h1.nodeHeadline {
  margin-left: 80px;
  text-align: left;
}
/* Slides */

p.slideTime {
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
}

/* For link in Slides */

p.linkText {
  margin-right: 80px;
  margin-left: 80px;
  text-align: left;
}

h1.linkHeadline {
  margin-left: 80px;
  text-align: left;
}

div.linkTags {
  margin-left: 80px;
  text-align: left;
  font-style: italic;
  width: 1000px;
}

div.linkLang {
  margin-left: 80px;
  float: left;
}

i.linkTyp {
  margin-left: 80px;
  float: left;
}

div.linkContainer {
 overflow: auto;
 padding: 20px;
margin: 10px;
}

div.linkInstruction {
padding: 20px;
margin: 10px;
display: inline-block;
border: 5px solid #e7ad52;	
}

/* For questions in Slides */

p.questionText {
  margin-right: 80px;
  margin-left: 80px;
  text-align: left;
  font-size: 80pt;
}

ol.questionList li {
  margin-right: 80px;
  margin-left: 80px;
  text-align: left;
  font-size: 40pt;
}

ol.questionList li p  {
  margin-right: 80px;
  margin-left: 80px;
  text-align: left;
  font-size: 40pt;
}

/* For image in Slides */

img.imageSmall {
  width: 400px;
}

img.imageNormal {
  width: 600px;
}

img.imageLarge {
  width: 800px;
}


a, a:visited {
    color: #e7ad52;
}
